<!-- The list of messages will appear here: -->
Welcome to Phoenix!

<ul id='msg-list' style='list-style: none; min-height:200px; padding: 10px;'></ul>

<input type="text" id="name" class="form-control" placeholder="Your Name" autofocus>
<input type="text" id="msg" class="form-control" placeholder="Your Message">